html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 80px;
    background: #278722;
}

ul.menu3{
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding-right: 15px;

}

.menu3 li{
    display: inline-block;
}

.menu3 a:link, .menu3 a:visited{
    text-decoration: none;
    color: white;
    font: 14px Arial;
    display: block;
    background-color: #278722;
    padding: 0px 5px;
    line-height: 30px;
}
.menu3 a:hover{
    color: black;
    background-color: white;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 15%;
    background: #278722;
    float: right;
}

ul.menu2{
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding-right: 5px;

}

.menu2 a:link, .menu2 a:visited{
    text-decoration: none;
    color: white;
    font: 14px Arial;
    display: block;
    background-color: #278722;
    padding: 0px 5px;
    line-height: 30px;
}
.menu2 a:hover{
    color: black;
    background-color: white;
}

.content {
    width: 85%;
    background: yellow;
}

.footer {
    width: 100%;
    background: black;
}